# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Caches
*.cache
.cachefile

# Logs and databases
*.log
*.sql
*.sqlite3
*.pyc

# Media files
media/

# Static files
staticfiles/

# Virtual environment
venv/
