{% load static %}
<style>
    #form-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 95vh;
        margin: 0;
        background-color: #f8f9fa;
        font-family: Arial, sans-serif;
        flex-direction: column;
    }

    form:not(.profile-menu-link) {
        display: flex;
        flex-direction: column;
        width: 400px;
        gap: 20px;
        padding: 20px;
        background-color: white;
        box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    }

    textarea {
        resize: none;
        width: 100%;
        max-height: 100px;
    }

    input:not(.profile-menu-link):not(#search):not(#searchRoom), button:not(.profile-menu-link), select, textarea {
        padding: 10px;
        border: 1px solid #ced4da;
        border-radius: 5px;
        font-size: 16px;
        transition: all 0.3s ease;
        width: 100%;
        margin: 10px;
    }

    input:focus, select:focus, textarea:focus {
        outline: none;
        border-color: #007bff;
        box-shadow: 0 0 5px #007bff;
    }

    button:not(.profile-menu-link) {
        background-color: #007bff;
        color: white;
        border: none;
    }

    button:hover {
        background-color: #0056b3;
    }
</style>
<form id="formProfile" style="overflow: scroll;max-height: 629px;" method="post" enctype="multipart/form-data"  action="{% url 'PNP:roomCreateForm' type id %}">
    {% csrf_token %}
    {% for field in form %}
        <div class="fieldWrapper">
            {{ field.errors }}
            {{ field.label_tag }} {{ field }}
        </div>
    {% endfor %}
    {{error}}
    <input type="reset" value="reset">
    <button type="submit" value="add">add</button>
</form>

