{% load static %}
{% if isMe %}
                <div class="plus-div" id="addExperience" data-id="1">
                <h2>Experience</h2>
                <i class="fa fa-plus plus-btn" data-id="1"></i>
                </div>
            {% endif %}
{% if cv.experiences %}
                {% for experience in cv.experiences %}
                <div class="profile-desc-row">
                    <img src="{% static 'PNP/img/microsoft.png' %}">
                    <div>
                        <div class="plus-div" id="deleteExperi" data-id="{{experience.id}}">
                        <h3>{{experience.job_title}}</h3>
                        <i class="fa fa-trash plus-btn deleteexp" data-id="{{experience.id}}"></i>
                        </div>
                        <div class="plus-div " data-id="{{experience.id}}">
                        <b>{{experience.company}}</b>
                        <i class="fa fa-pencil editExp plus-btn" data-id="{{experience.id}}"></i>
                        </div>
                        <b>{{experience.start_date}}-{{experience.end_date}}</b>
                        <p>{{experience.description}}</p>
                        <hr>
                    </div>
                </div>editExp
                {% endfor %}
            {% else %}
            <div class="profile-desc-row">
                <div>
                    <p>No experience available</p>
                </div>
            </div>
            {% endif %}