{% extends "base.html" %}
{% load static %}

{% block content %}
<style>
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);
.plus-div {
    display: flex;
  justify-content: space-between;
  align-items: center;
}
.plus-btn {
   background-color: #0073b1;
  color: white;
  margin: 10px 0 20px;
  padding: 3px 5px;
  border-radius: 50%;
  font-size: 16px;
  cursor: pointer;
    
}
.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}

#form{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 500px;
    padding: 20px;
    background: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1001;
}
#modifie{
    display: none;

}
</style>
    <!-- navbar ended -->
    <div class="container">
        <div class="profile-main">
            <div class="profile-container">
                <img src="{% static 'PNP/img/Bgcs/backGround1.jpg' %}"
                    width="100%" class="cover-img">
                <div class="profile-container-inner">
                    {% if user.user.photo_profile %}
                    <img class="profile-pic" style="object-fit: cover;height: 100px;width: 95px;" src="{{ user.user.photo_profile.url }}" alt="">
                    {% else %}
                    <img class="profile-pic" src="{% static 'PNP/img/avatar/default.jpg' %}" alt="">
                    {% endif %}
                    <h1>{{user.username}}</h1>
                    <b>{{cv.introduction}}</b>
                    <p>Karachi Division, Sindh, Pakistan &middot; <a href="">Contact Info</a></p>
                    <div class="mutual-connection">
                        <img
                            src="https://media.licdn.com/dms/image/D4D35AQGTdqs4cZFOBw/profile-framedphoto-shrink_200_200/0/1680180892982?e=1685826000&v=beta&t=YRCXIxlGFtfR7g0RpxDyhjohxxDavabl4WrjU3tRM94">
                        <img
                            src="https://media.licdn.com/dms/image/D4D35AQHg7vwrZEObDA/profile-framedphoto-shrink_200_200/0/1673134456989?e=1685908800&v=beta&t=pXrvlwZ-rWG8YAwzihbo2Gc-4MQo79V7bsnlPHICg8A" style="margin-left: -20px; z-index: 1;">
                        <span><span class="mutual-friend">Shahzaib Kesrani 🌟 Front-End
                                Developer</span> and <span class="mutual-friend">Muhammad Saad Ali</span> are mutual connections</span>
                    </div>
                    {% if not isMe %}
                    <div class="profile-btn">
                        {% if isFriend %}
                        <a style="background-color: #efefef;color:black" href="{% url 'PNP:addFriend' user %}"  class="primary-btn"><img src="{% static 'PNP/img/connect.png' %}" >Connect</a>
                        {% else %}
                        <a href="{% url 'PNP:addFriend' user %}" class="primary-btn"><img src="{% static 'PNP/img/connect.png' %}" >Connect</a>
                        {% endif %}
                        <a href=""><img src="{% static 'PNP/img/message.png' %}" alt="">Chat</a>
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="profile-description">
                <div class="plus-div" id="addAbout" data-id="0">
                <h2>About</h2>
                <i class="fa fa-plus plus-btn" data-id="0"></i>
                </div>
                <p>
                {{cv.about}}
                </p>
                {% comment %} <a class="see-more-link" onclick="show()">See <span id="more">More...</span></a> {% endcomment %}
            </div>
            
            <div class="profile-description">
                <div class="plus-div" id="addExperience" data-id="1">
                <h2>Experience</h2>
                <i class="fa fa-plus plus-btn" data-id="1"></i>
                </div>
            {% if cv.experiences %}
                {% for experience in cv.experiences %}
                <div class="profile-desc-row">
                    <img src="{% static 'PNP/img/microsoft.png' %}">
                    <div>
                        <h3>{{experience.job_title}}</h3>
                        <b>{{experience.company}}</b>
                        <b>{{experience.start_date}}-{{experience.end_date}}</b>
                        <p>{{experience.description}}</p>
                        <hr>
                    </div>
                </div>
                {% endfor %}
            {% else %}
            <div class="profile-desc-row">
                <div>
                    <p>No experience available</p>
                </div>
            </div>
            {% endif %}
            </div>
            <div class="profile-description">
                <div class="plus-div " id="addEducation" data-id="2">
                <h2>Education</h2>
                <i class="fa fa-plus plus-btn" data-id="2"></i>
                </div>
                {% if cv.educations %}
                {% for education in cv.educations %} 
                <div class="profile-desc-row">
                    <img src="{% static 'PNP/img/microsoft.png' %}">
                    <div>
                        <h3>{{education.school}}</h3>
                        <b>{{education.degree}}</b>
                        <b>{{education.start_date}}-{{education.end_date}}</b>
                        <hr>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                    <div class="profile-desc-row">
                        <div>
                            <p>No education available</p>
                        </div>
                    </div> 
                {% endif %}
            </div>
            <div class="profile-description">
                <div class="plus-div" id="addSkills" data-id="3">
                <h2>Skills</h2>
                <i class="fa fa-plus plus-btn" data-id="3"></i>
                </div>
                {% if cv.skills %}
               <div> {% for skill in cv.skills %}
                    <div class="skill-btn">{{skill}}</div>{% if not forloop.last %} {% endif %}
                    {% endfor %}
               </div>
                {% else %}
            <p>No skills available</p>
        {% endif %}
            </div>
            <div class="profile-description">
                <div class="plus-div" id="addlanguage" data-id="4">
                <h2>Languages</h2>
                <i class="fa fa-plus plus-btn" data-id="4"></i>
                </div>
                {% if cv.languages %}
                <div> {% for lang in cv.languages %}
                    <div class="lang-btn">{{lang}}</div>{% if not forloop.last %} {% endif %}
                    {% endfor %}
               </div>
               {% else %}
                <p>No languages available</p>
            {% endif %}
            </div>
                
            <div class="profile-description">
                <h2>CV</h2>
                {% if cv.user.user.cv %}
                    <iframe style="overflow: hidden" loading="lazy" type="application/pdf" title="PDF-file" src="{{cv.user.user.cv.url}}" width="100%" height="1100px"></iframe>
               {% else %}
                <p>No Cv available</p>
            {% endif %}
            </div>
            
        </div>
        <div id="modifie">
            <div class="overlay"></div>
            <div id="form">
        </div>
        
        </div>
        <div class="profile-sidebar">
            <div class="sidebar-ad">
                <small>AD &middot; &middot; &middot;</small>
                <p>Master the 5 principles of web design</p>
                <div>
                    <img src="https://media.licdn.com/dms/image/D4D03AQHyJrtE6WbAfw/profile-displayphoto-shrink_100_100/0/1678030659122?e=1690416000&v=beta&t=9Vnws7rVjaREQebj3HeuNH3GQ_VS0XS4XFnkI5ttBpQ"
                        alt="">
                    <img src="{% static 'PNP/img/mi-logo.png' %}" alt="">
                </div>
                <b>Brand and demand in Xiaomi</b>
                <a href="" class="ad-link">Learn More</a>
            </div>
            <div class="sidebar-people">
                <h3>People You May Know</h3>
                <div class="sidebar-people-row">
                    <img src="https://media.licdn.com/dms/image/D4D35AQHg7vwrZEObDA/profile-framedphoto-shrink_200_200/0/1673134456989?e=1685908800&v=beta&t=pXrvlwZ-rWG8YAwzihbo2Gc-4MQo79V7bsnlPHICg8A">
                    <div>
                        <h2>Muhammad Saad Ali</h2>
                        <p>Frelance At Upwork</p>
                        <a href="https://www.linkedin.com/in/mohammad-saad-ali-33074123a/" target="_blank">Connect</a>
                    </div>
                </div>
                <div class="sidebar-people-row">
                    <img src="https://media.licdn.com/dms/image/D4D03AQHBp9g2SbN6Qw/profile-displayphoto-shrink_200_200/0/1680625175837?e=1691020800&v=beta&t=piTTEWWbNHW-UEFX3Wi9nuCByDPheh3DfMPri7JzdUs">
                    <div>
                        <h2>Khizar Wakeel</h2>
                        <p>Intern | ReactJS | Front-End-Developer</p>
                        <a href="https://www.linkedin.com/in/khizarwakeel/" target="_blank">Connect</a>
                    </div>
                </div>
                <div class="sidebar-people-row">
                    <img src="https://media.licdn.com/dms/image/C4E03AQEvYf_1ZHjIgg/profile-displayphoto-shrink_200_200/0/1653166620686?e=1691020800&v=beta&t=QZJ-tNBgLS9y_mjtEsaTKCcHiWwsNmSV2jMDZ2P2bVI">
                    <div>
                        <h2>Joshua Akintemi</h2>
                        <p>Full Stack Developer || MERN</p>
                        <a href="https://www.linkedin.com/in/joshua-akintemi-952ab419a/" target="_blank">Connect</a>
                    </div>
                </div>
                <div class="sidebar-people-row">
                    <img src="https://media.licdn.com/dms/image/D4D35AQHyJWN5n0gG5w/profile-framedphoto-shrink_200_200/0/1677020670227?e=1685908800&v=beta&t=L02RCHTiDSwUc67eA6Cy8po3LjDtA_NandoleaJSkBU">
                    <div>
                        <h2>Zeeshan Khan</h2>
                        <p>--</p>
                        <a href="https://www.linkedin.com/in/zeeshan-khan-34613a250/" target="_blank">Connect</a>
                    </div>
                </div>
                <div class="sidebar-people-row">
                    <img src="https://media.licdn.com/dms/image/C4D03AQEuh9aU_BTV9Q/profile-displayphoto-shrink_200_200/0/1655560653207?e=1691020800&v=beta&t=N9tKk60vLghT-0hgRC18fUtMVausegz-KJXjTpnOblg">
                    <div>
                        <h2>Muhammad Ibrahim</h2>
                        <p>Student at ILMA University | Former IBT</p>
                        <a href="https://www.linkedin.com/in/faisal-bhatti-063298265/" target="_blank">Connect</a>
                    </div>
                </div>
                <div class="sidebar-people-row">
                    <img src="https://media.licdn.com/dms/image/D4D03AQE8-Wj1T17i6A/profile-displayphoto-shrink_200_200/0/1682859810753?e=1691020800&v=beta&t=gURzLUZb_CoQiH6tEgJfgWNRObWFaoFAbMfzEXFTkC4">
                    <div>
                        <h2>Faisal Bhatti</h2>
                        <p>--</p>
                        <a href="https://www.linkedin.com/in/faisal-bhatti-063298265/" target="_blank">Connect</a>
                    </div>
                </div>
                <div class="sidebar-people-row">
                    <img src="https://media.licdn.com/dms/image/D4E03AQHan9qTk_mOAw/profile-displayphoto-shrink_200_200/0/1664501898052?e=1691020800&v=beta&t=guZ91535PF7ruPCi1owCeL857mjdHL9WBtAvlLgaUbI">
                    <div>
                        <h2>Daniyal Ahmed Hashmi</h2>
                        <p>Student at Karachi Board</p>
                        <a href="https://www.linkedin.com/in/daniyal-ahmed-hashmi-8b0267252/" target="_blank">Connect</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="profile-footer">
        <div class="sidebar-useful-links">
            <a href="">About</a>
            <a href="">Accesibility</a>
            <a href="">Help Center</a>
            <a href="">Privacy Policy</a>
            <a href="">Advertising</a>
            <a href="">Get the App</a>
            <a href="">More</a>
            <div class="copyright-msg">
                <img src="{% static 'PNP/img/logo.png' %}">
                <p>AzaanUllah &copy; All Rights Reserved</p>
            </div>
        </div>
    </div>
    
    <script>
        var profileMenu = document.getElementById('profileMenu')
        var seeMore = document.getElementById('hidden')
        function toggleMenu() {
            profileMenu.classList.toggle("open-menu");
        }
        function show() {
            if (seeMore.style.display == "none") {
                seeMore.style.display = "inline-block"
                document.getElementById('more').innerHTML = "Less..."
            }
            else {
                seeMore.style.display = "none";
                document.getElementById('more').innerHTML = "More..."
            }
        }
        document.addEventListener('click',(e)=> {
            console.log(e.target);
            if (e.target.classList.contains('fa-plus')) {
                var id = e.target.dataset.id;
                document.getElementById('modifie').style.display = 'block';
                getData(id);
            }
            if (e.target.classList.contains('overlay')) {
                document.getElementById('modifie').style.display = 'none';
            }

        });

        function getData(id){
    $.ajax({
        url: '/formProfile/' + id + '/',
        type: 'GET',
        success: function (response) {
            console.log(response);
            var commentsContainer = document.getElementById('form');
            commentsContainer.innerHTML = response;
        }
    });
}
    </script>
{% endblock %}
