{% extends "base.html" %}
{% load static %}

{% block content %}

<style>
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);
.plus-div {
    display: flex;
  justify-content: space-between;
  align-items: center;
}
.plus-btn {
   background-color: #0073b1;
  color: white;
  margin: 10px 0 20px;
  padding: 3px 5px;
  border-radius: 50%;
  font-size: 16px;
  cursor: pointer;
    
}
.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}

#form-container{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 500px;
    padding: 20px;
    background: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1001;
}
#modifie{
    display: none;

}
    .Btn {
    width: 42px;
    height: 38px;
    border: 2px solid rgb(214, 214, 214);
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    transition-duration: 0.3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.11);
    }

    .svgIcon {
    fill: rgb(70, 70, 70);
    }

    .icon2 {
    width: 18px;
    height: 5px;
    border-bottom: 2px solid rgb(70, 70, 70);
    border-left: 2px solid rgb(70, 70, 70);
    border-right: 2px solid rgb(70, 70, 70);
    }

    .Btn:hover {
    background-color: rgb(51, 51, 51);
    transition-duration: 0.3s;
    }

    .Btn:hover .icon2 {
    border-bottom: 2px solid rgb(235, 235, 235);
    border-left: 2px solid rgb(235, 235, 235);
    border-right: 2px solid rgb(235, 235, 235);
    }

    .Btn:hover .svgIcon {
    fill: rgb(255, 255, 255);
    animation: slide-in-top 1s linear infinite;
    }

    @keyframes slide-in-top {
    0% {
        transform: translateY(-10px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
    }

</style>
<link rel="stylesheet" href="{% static 'PNP/css/messag.css' %}">
    <!-- navbar ended -->
    <div class="container">
        <div class="profile-main">
            <div class="profile-container">
                <img src="{% static 'PNP/img/Bgcs/backGround1.jpg' %}"
                    width="100%" height="300px" class="cover-img">
                <div class="profile-container-inner">
                    {% if the_user.user.photo_profile %}
                    <img class="profile-pic" style="object-fit: cover;height: 100px;width: 95px;" src="{{ the_user.user.photo_profile.url }}" alt="">
                    {% else %}
                    <img class="profile-pic" src="{% static 'PNP/img/avatar/default.jpg' %}" alt="">
                    {% endif %}
                    <div class="plus-div" id="addAbout" data-id="6">
                        <h1>{{the_user.username}} · <small style="opacity:0.5;font-weight: 10;font-size:26px">{{the_user.user.Visibility}} account</small></h1>
                        <i class="fa fa-pencil edit-btn plus-btn" data-id="6"></i>
                    </div>
                    <b>{{the_user.user.introduction}}</b>
                    <p>{{the_user.user.country}} | {{the_user.user.address}} | {{the_user.user.city}}</p>
                    <p>{{the_user.user.phone}}</p>

                    
                    {% if not isMe  and auth_user.is_authenticated %}
                    <div class="profile-btn">
                        <div id="followBtn" style="display: inline-flex;">
                            {% include './followBtn.html' with friend=the_user.username %}
                        </div>
                        <a id="chat"><img src="{% static 'PNP/img/message.png' %}" alt="">Chat</a>
                        
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="profile-description">
            {% if isMe %}
                <div class="plus-div" id="addAbout" data-id="0">
                <h2>About</h2>
                <i class="fa fa-pencil plus-btn" data-id="0"></i>
                </div>
            {% endif %}
                <h2>About</h2>
                <p>
                {{cv.about}}
                </p>
                {% comment %} <a class="see-more-link" onclick="show()">See <span id="more">More...</span></a> {% endcomment %}
            </div>
            
            <div class="profile-description experienceCont">
            
            {% include './experience.html'%}
            </div>
            <div class="profile-description educationCont">
            {% include './education.html'%}
            </div>
            <div class="profile-description skillCont">
            {% include './skills.html'%}
            </div>
            <div class="profile-description langCont">
            {% include './langs.html'%}
            </div>
                
            <div class="profile-description">
            {% if isMe %}
                <div class="plus-div" id="addlanguage" data-id="5">
                <h2>CV</h2>
                <i class="fa fa-pencil plus-btn" data-id="5"></i>
                </div>
            {% endif %}
                {% if cv.user.user.cv %}
                    <iframe style="overflow: hidden" loading="lazy" type="application/pdf" title="PDF-file" src="{{cv.user.user.cv.url}}" width="100%" height="1100px"></iframe>
               {% else %}
                <p>No Cv available</p>
            {% endif %}
            </div>

        <div class="profile-description" id="postDesc">
        <h2>Posts</h2>
        {% include './Post.html' %}        
        </div>
        <div id="modifie">
            <div class="overlay" style="visibility: visible;"></div>
            <div id="form-container"></div>
        </div>
        {% include "../firstPage/comments.html" %}
        </div>
        <div class="profile-sidebar">
        {% if isMe %}
            <div class="sidebar-ad">
                <h1>Request</h1>
                {% if request_recived %}
                    {% for req in request_recived %}
                    <div class="sidebar-people-row">
                        <img src="{{req.sender.photo_profile}}">
                        <div>
                            <h2>{{req.sender.user.username}}</h2>
                            <p>{{req.sender.introduction}}</p>
                            <a href="{% url 'PNP:accept_request' req.sender.user.username %}">accepted</a>
                            <a href="{% url 'PNP:reject_request' req.sender.user.username %}">rejected</a>
                        </div>
                    </div>
                    {% endfor %}
                {% else %}
                    <p>No request</p>
                {% endif %}
            </div>
        {% endif %}
                {% if auth_user.is_authenticated %}
            <div class="sidebar-people">
                    <h3>People You May Know</h3>
                    {% for sugg in segguestedFriends %}
                    <div class="sidebar-people-row">
                        {% if sugg.user.user.photo_profile %}
                            <img src="{{sugg.user.user.photo_profile.url}}">
                        {% else %}
                            <img src="/media/avatar/default.jpg">
                        {% endif %}
                        <div>
                            <h2>{{sugg.user.username}}</h2>
                            <p>{{sugg.user.user.introduction}}</p>
                            
                                <div id="followBtn" style="display: inline-flex;">
                                {% if sugg.user.user.Visibility == 'private' %}
                                    {% include './followBtn.html' with friend=sugg.user.username isFriend=isFriend requestsend=requestsend is_private=True %}
                                {% else %}
                                    {% include './followBtn.html' with friend=sugg.user.username isFriend=isFriend requestsend=requestsend is_private=False %}
                                {% endif %}
                                </div>
                        </div>
                    </div>
                    {% endfor %}
            </div>
                {% endif %}
        </div>

    </div>

    <script src={% static 'PNP/js/formProfile.js' %}></script>
    <script src="{% static 'PNP/js/msg.js' %}"></script>
    <script src="{% static 'PNP/js/gsap.min.js' %}"></script>
    
    <script>

    
    //chat


function getFormMessage(room_ID){ // get form message
    $.ajax({
        url: '/messageForm/'+ room_ID +'/',
        type: 'GET',
        success: function (response) {
            var form = document.getElementById('messageForm');
            form.innerHTML = response;
        }
    });
}

function getMessages(room_ID){ // get messages
    $.ajax({
        url: '/getMessages/'+ room_ID +'/',
        type: 'GET',
        success: function (response) {
            var messages = document.getElementById('messageCont');
            messages.innerHTML = response;
        }
    });
}


    //delete experience and education
    document.addEventListener('click',(e)=> {
        var expContainer = document.querySelector('.experienceCont');
        var educContainer = document.querySelector('.educationCont');
        var skillContainer = document.querySelector('.skillCont');
        var langContainer = document.querySelector('.langCont');
        console.log(expContainer)
        if (e.target.classList.contains('deleteexp')) {
            var id = e.target.dataset.id;
            $.ajax({
                url: '/delete_experience/' + id + '/'+ '{{the_user.username}}' + '/',
                type: 'GET',
                success: function (response) {
                    console.log(response);
                    expContainer.innerHTML = response;
                }
            });
        }else if (e.target.classList.contains('deleteeduc')) {
            var id = e.target.dataset.id;
            $.ajax({
                url: '/delete_education/' + id + '/'+ '{{the_user.username}}' + '/',
                type: 'GET',
                success: function (response) {
                    console.log(response);
                    educContainer.innerHTML = response;
                }
            });
        }else if (e.target.classList.contains('skilldelete')) {
            var id = e.target.dataset.id;
            $.ajax({
                url: '/delete_skill/' + id + '/'+ '{{the_user.username}}' + '/',
                type: 'GET',
                success: function (response) {
                    console.log(response);
                    skillContainer.innerHTML = response;
                }
            });
        }else if (e.target.classList.contains('langdelete')) {
            var id = e.target.dataset.id;
            $.ajax({
                url: '/delete_language/' + id + '/'+ '{{the_user.username}}' + '/',
                type: 'GET',
                success: function (response) {
                    console.log(response);
                    langContainer.innerHTML = response;
                }
            });
        }
    });


    //delete post
    document.addEventListener('click',(e)=> {
        var postContainer = document.getElementById('postDesc');
        console.log(postContainer)
        if (e.target.classList.contains('deletePost')) {
            var id = e.target.dataset.id;
            $.ajax({
                url: '/deletePost/' + id + '/',
                type: 'GET',
                success: function (response) {
                    console.log(response);
                    postContainer.innerHTML = response;
                }
            });
        }else if(e.target.classList.contains('addFriend')) {
            var followBtn = e.target.parentElement;
            var friend = e.target.dataset.username;
            $.ajax({
                url: '/addFriend/' + friend + '/',
                type: 'GET',
                success: function (response) {
                    followBtn.innerHTML = response;
                }
            });
        }
    });
        var profileMenu = document.getElementById('profileMenu')
        var seeMore = document.getElementById('hidden')
        function toggleMenu() {
            profileMenu.classList.toggle("open-menu");
        }
        document.addEventListener('click',(e)=> {
            console.log(e.target);
            var username='{{auth_user.username}}';
            if ((e.target.classList.contains('fa-plus')) || (e.target.classList.contains('fa-pencil'))) {
                var id = e.target.dataset.id;
                document.getElementById('modifie').style.display = 'block';
                if(e.target.classList.contains('editEduc')){
                    geteducationForm(id,username);
                }else if(e.target.classList.contains('editExp')){
                    getExperienceForm(id,username);
                
                }else{
                    getFormData(id,username);
                }
            }else if (e.target.classList.contains('overlay')) {
                document.getElementById('modifie').style.display = 'none';
            }else if (e.target.id == 'chat') {
                var friend = '{{the_user.username}}';
                var id = "{{id}}";
                var modifie = document.getElementById('modifie');
                $.ajax({
                    url: '/chat/' + friend + '/',
                    type: 'GET',
                    success: function (response) {
                        modifie.style.display = 'block';
                        var form = document.getElementById('form-container');
                        form.innerHTML = response;
                        getFormMessage(id);
                        getMessages(id);
                        
                    }
                });
            }

        });

        function geteducationForm(id,username){
            $.ajax({
                url: '/formEducation/' + id + '/'+username+'/',
                type: 'GET',
                success: function (response) {
                    console.log("secess")
                    var form = document.getElementById('form-container');
                    form.innerHTML = response;
                }
            });
        }
        function getExperienceForm(id,username){
            $.ajax({
                url: '/formExperience/' + id + '/'+username+'/',
                type: 'GET',
                success: function (response) {
                    console.log("secess")
                    var form = document.getElementById('form-container');
                    form.innerHTML = response;
                }
            });
        }

        function getFormData(id,username){
            $.ajax({
                url: '/formProfile/' + id + '/'+username+'/',
                type: 'GET',
                success: function (response) {
                    console.log("secess")
                    var form = document.getElementById('form-container');
                    form.innerHTML = response;
                }
            });
        }
    
    
var section=document.getElementById('commentSection')
var overlay=document.getElementById('overlay')
function openComment(commentButton) {
    var postId = commentButton.closest('.post').dataset.id;
    fetchComments(postId);
    fetchFormComment(postId,1);
        section.classList.toggle('open-comment');
        overlay.classList.toggle('overlay-open');
}

function closeComment() {
    section.classList.remove('open-comment');
    overlay.classList.remove('overlay-open');
}

{% comment %} ajax function to fetch comments {% endcomment %}
function fetchComments(postId) {
    console.log(postId);
    $.ajax({
        url: '/comment/' + postId + '/',
        type: 'GET',
        success: function (response) {
            var commentsContainer = document.getElementById('headercomment');
            commentsContainer.innerHTML = response;
        }
    });
}

            
function addComment(itemId, type,postId) {
    var commentContent=document.getElementById('commentContent').value;
    console.log(commentContent);
        $.ajax({
            url: '/addComment/' + postId + '/'+ type + '/',
            type: 'POST',
            headers: { 'X-CSRFToken': '{{ csrf_token }}' },
            data: {
                'commentContent': commentContent,
            },
            success: function (response) {
                fetchComments(postId);
                fetchFormComment(postId,1);
            }
        });
    }
    function removeReply(){
        var replyContainer=document.getElementById('ReplyContainer');
        replyContainer.innerHTML='';
        fetchFormComment(postId,1);
    }
function fetchFormComment(itemId,type) { //type = 1 is a post and type = 2 is a comment
    $.ajax({
        url: '/showCommentForm/' + itemId + '/'+type+'/',
        type: 'GET',
        success: function (response) {
            var commentsContainer = document.getElementById('footercomment');
            commentsContainer.innerHTML = response;
        }
    });
}



    // likes

    // Define static paths
    var loveImgSrc = window.location.origin + "/static/PNP/img/love.png";
    var likeImgSrc = window.location.origin + "/static/PNP/img/like.png";
    function toggleLike(likeButton) {
    var postId = likeButton.closest('.post').dataset.id;
    var likeImg = likeButton.querySelector('img');
    var likeImgSrc = likeImg.src;
    var loveImgSrc = "{% static 'PNP/img/love.png' %}";

    if (likeImgSrc.includes('like.png')) {
        likeImg.src = loveImgSrc;
    } else {
        likeImg.src = "{% static 'PNP/img/like.png' %}";
    }

    // Make it Bouncing
    gsap.from(likeImg, {
        scale: 0.5,
        duration: 0.5,
        ease: "bounce",
    });
    
    // Send AJAX request to update the like count
    $.ajax({
        url: '/like/' + postId + '/',
        type: 'POST',
        dataType: 'json',
        headers: { 'X-CSRFToken': '{{ csrf_token }}' },
        success: function (response) {
            if (response.success) {
                document.querySelector('span[id=\"'+postId+'\"]').innerText = response.likes + ' reactions';
            }
        }
    });
}

 
   
        // gsap
        var posts = document.querySelectorAll('.post');
        var right_sidebar = document.querySelector('.right-sidebar');


        gsap.from(right_sidebar, {
            opacity: 0,
            x: 100,
            duration: 1,
            ease: "power2.Out",
            delay: 0.5,
        })

        gsap.from(posts, {
            opacity: 0,
            y: 100,
            duration: 1,
            ease: "power2.Out",
            delay: 0.5,
        })
    </script>
{% endblock %}
