{% load static %}

<ul>
            <li style="box-shadow: -1px 25px 37px -17px rgba(0,0,0,0.11);"  id="createRoom" data-type="3" data-id="{{room.room_ID}}">
                <a href="#"  id="createRoom" data-type="3"  data-id="{{room.room_ID}}">
                    <div class="contact"  id="createRoom" data-type="3"  data-id="{{room.room_ID}}">
                        <div data-type="3"  data-id="{{room.room_ID}}" class="message" style="text-align:center;position: relative;"  id="createRoom">+ add Members</div>
                    </div>
                </a>
            </li>
    {% for member in members %}
        <li style="display: flex;align-items: center;">
            {% if member.photo_profile %}
                <img style="
                border-radius: 50%;
                width: 40px;
                height: 40px;
                object-fit: cover;
                " src="{{ member.photo_profile.url }}" >
            {% else %}
                <img style="
                border-radius: 50%;
                width: 40px;
                height: 40px;
                object-fit: cover;
                " src="{% static 'PNP/media/avatar/default.jpg' %}" >
            {% endif %}
            <a style="margin-left:20px" href="{% url 'PNP:profile' member.user.username %}">
                {{ member.user.username }}
            </a>
        </li>
        
    {% endfor %}
</ul>