{% extends "base.html" %}
{% load static %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Messaging</title>
    <link rel="stylesheet" href="{% static 'PNP/css/message.css' %}">
</head>
<body>
    <div class="chat">
        <div class="sidebar">
            <div class="search">
                <input type="text" placeholder="Ara...">
                <i class="fa fa-search"></i>
            </div>
            <div class="contacts">
                <ul>
                    <li>
                        <a href="#">
                            <img src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png" alt="">
                            <div class="contact">
                                <div class="name">Yunus Uçar</div>
                                <div class="message">Merhaba, bu bir test mesajıdır..</div>
                            </div>
                        </a>
                    </li>
                    <li class="active">
                        <a href="#">
                            <img src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png" alt="">
                            <div class="contact">
                                <div class="name">Yunus Uçar</div>
                                <div class="message">Merhaba, bu bir test mesajıdır..</div>
                            </div>
                            <div class="notification">2</div>
                        </a>
                    </li>
                    
                </ul>
            </div>
        </div>
        {% comment %} <div id="contentMessage"> {% endcomment %}
            {% comment %} <h1 class="h1message">Messages</h1> {% endcomment %}
            {% include "./content.html" %}

        {% comment %} </div> {% endcomment %}
    </div>
    <script src="{% static 'PNP/js/messaging.js'%}"></script>
</body>
</html>
{% endblock %}
