{% extends "base.html" %}
{% load static %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Messaging</title>
    <link rel="stylesheet" href="{% static 'PNP/css/message.css' %}">
</head>
<body>
    <div class="chat" style="height: 88%;overflow: hidden;">
        {% include './message/sideBar/sideBar.html' %}
        {% include "./message/contentchat/content.html" %}

    </div>
    <script src="{% static 'PNP/js/messaging.js'%}"></script>
</body>
</html>
<script src="{% static 'PNP/js/msg.js' %}"></script>

{% endblock %}
