{% extends "./sidebar.html" %}
{% load static %}

{% block classroomContent %}
<!--ajouter side bar-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
    <link rel="stylesheet" href="{% static 'PNP/css/rooms.css' %}"/>
</head>
<body>
  <!-- rooms.html -->
  <section class="card-section" style="width:80%;display:flex;flex-wrap: wrap; right:0;">
    {% if cours_utilisateur %}
        {% for cours in cours_utilisateur %}
              <!-- First Card -->
              <a href="/classroom/detail_cours/{{ cours.code }}/" class="card-link">
              <div class="card">
                  <div class="card-header">
                      <!-- Vérifiez si le nom du cours existe -->
                      {% if cours.name %}
                      <h1 class="subject-name">{{ cours.name }}</h1>
                      {% else %}
                      <h1 class="subject-name">Nom du cours inconnu</h1>
                      {% endif %}
                      
                      <!-- Vérifiez si la classe du cours existe -->
                      {% if cours.class_name %}
                      <h2 class="section">{{ cours.class_name }}</h2>
                      {% else %}
                      <h2 class="section">Classe inconnue</h2>
                      {% endif %}
                      
                      <!-- Vérifiez si le nom de l'enseignant existe -->
                      
                      <h3 class="teacher-name">{{cours.teacher.username}}</h3>
                      
                      <!--<h3 class="teacher-name">Enseignant inconnu</h3>-->
                      
                      
                      <span class="material-icons teacher-icon">
                          <img src="{% static 'PNP/img/network.png' %}" alt="">
                      </span>
                  </div>
                  <div class="card-body"></div>
                  <div class="card-footer">
                      <span class="material-icons-outlined assignment-icon">
                          <img src="{% static 'PNP/img/personne.png' %}" alt="">
                      </span>
                      <span class="material-icons-outlined folder-icon">
                          <img src="{% static 'PNP/img/folder.png' %}" alt="">
                      </span>
                  </div>
              </div>
              </a>
        {% endfor %}
    {% else %}
        <p>Aucun cours disponible pour le moment.</p>
    {% endif %}
  </section> 
</body>
</html>

{% endblock %}