{% extends "base.html" %}
{% load static %}



{% block content %}

<link rel="stylesheet" href="{% static 'PNP/css/detailCours.css' %}"/>
<link href="{% static 'PNP/css/rooms.css' %}"rel="stylesheet"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/boxicons/2.1.1/css/boxicons.min.css"/>
    <style>
    .openCont{
        width: 70%;
  justify-content: flex-end;
  display: flex;
  float: right;
  margin-rigth: 10px;
  margin-right: 40px;
  transition: all 0.5s;
    }
  .navnav{
    display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.93);
  backdrop-filter: blur(8px);
  padding: 6px 6%;
  position: sticky;
  top: 0;
  z-index: 100;
  border-bottom: 1px solid rgba(0, 0, 0, 0.09);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.04);
  height: 60px;
  }
  .logo{
    display:none;
  }
    </style>
    
    <nav id="sidenav" class="open" style="z-index: 9999;position: relative;">
        <div class="logo">
          <i class="bx bx-menu menu-icon" style="color:black"></i>
          <i class='bx bxs-graduation' ></i>
          <span class="logo-name">classroom</span>
        </div>
        <div class="sidebar" style="top: 60px;">
          <div class="logo">
            <i class="bx bx-menu menu-icon"></i>
            <i class='bx bxs-graduation' ></i>
            <span class="logo-name">classroom</span>
          </div>
  
          <div class="sidebar-content" style="height: 93%;position: sticky;">
            <ul class="lists">
              <li class="list">
                <a href="accueil/" class="nav-link">
                  <i class='bx bx-home-alt'></i>
                  <span class="link">Acceuil</span>
                </a>
              </li>
              <li class="list">
                <a id="ouvrir-pdf" href="#" class="nav-link">
                  <i class='bx bxs-calendar'></i>
                  <span class="link">Agenda</span>
                </a>
              </li>
              {% if user.is_teacher %}
              <li class="list">
                <a href="/mes_cours" class="nav-link">
                  <i class='bx bxs-graduation'></i>
                  <span class="link">Cours enseignés</span>
                </a>
              </li>
              {% endif %}
              <li class="list">
                <a href="/classroom/detail_cours/{{cours.code}}" class="nav-link">
                  <div id="userIcon" class="user-icon" style="color: #00838D">{{ cours.name|slice:":1" }}</div>
                  <span class="link">{{ cours.name }}</span>
                </a>
              </li>
              
             
            </ul>
  
            <div class="bottom-cotent">
              <li class="list">
                <a href="" class="nav-link" onclick="goBack()">
                  <i class='bx bxs-caret-left-circle' ></i>
                  <span class="back-link"> Retour</span>
                </a>
              </li>
              <li class="list">
                <a href="/login" class="nav-link">
                  <i class="bx bx-log-out icon"></i>
                  <span class="link">Logout</span>
                </a>
              </li>
            </div>
          </div>
        </div>
      </nav>
        <div id="mainContainers" class="openCont" style="">
      {% block classroomContent %}
        {% endblock %}
        </div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    window.addEventListener('scroll', function() {
    var sidebar = document.querySelector('.sidebar');
    if (window.pageYOffset > 20) {
        sidebar.style.top = '0px';
    } else {
        sidebar.style.top = '60px';
    }
});
    var backlink = document.querySelector(".back-link");
    function goBack() {
      window.history.back();
    }
    backlink.addEventListener("click", goBack);
  function toggleDropdown() {
    document.getElementById("myDropdown").classList.toggle("show");
  }
  
  // Close the dropdown menu if the user clicks outside of it
  window.onclick = function(event) {
    if (!event.target.matches('.dropbtn')) {
      var dropdowns = document.getElementsByClassName("dropdown-content");
      var i;
      for (i = 0; i < dropdowns.length; i++) {
        var openDropdown = dropdowns[i];
        if (openDropdown.classList.contains('show')) {
          openDropdown.classList.remove('show');
        }
      }
    }
  }
  
    const navBar = document.querySelector("#sidenav");
    const menuBtns = document.querySelectorAll(".menu-icon");
    var mainContainers = document.getElementById("mainContainers");
  
  menuBtns.forEach((menuBtn) => {
    menuBtn.addEventListener("click", () => {
      navBar.classList.toggle("open");
      mainContainers.classList.toggle("openCont");
    });
  });

 
  
</script>

{% endblock %}