{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'PNP/css/firstPage.css' %}">
    
</head>
<body>
    <nav class="navbar" style="z-index: 2;">
        <div class="navbar-left">
            <a href="{% url 'PNP:firstPage' %}">
                <img src="{% static 'PNP/img/logo.png' %}" class="logo">
            </a>
            <div class="search-box" style="position: relative;">
                <img src="./img/search.png' %}">
                <input id="search" type="text" placeholder="Search">
                <div style="overflow:scroll;max-height: 300px;height: 300px;position: absolute;top: 110%;background-color: #efefef;width: 100%;left: 0;border-radius: 5px 5px 10px 10px; display:none">
                
                </div>
            </div>
        </div>
        <div class="navbar-center">
        {% if auth_user.is_authenticated %}
            <ul>
                <li><a href="{% url 'PNP:firstPage' %}" class="active-link"><img src="{% static 'PNP/img/home.png' %}"><span>Home</span></a></li>
                <li><a href="{% url 'PNP:network' %}"><img src="{% static 'PNP/img/network.png' %}"><span>My Network</span></a></li>
                <li><a href=""><img src="{% static 'PNP/img/jobs.png' %}"><span>Jobs</span></a></li>
                <li><a href="{% url 'PNP:messaging' %}"><img src="{% static 'PNP/img/message.png' %}"><span>Messaging</span></a></li>
                <li><a href="{% url 'PNP:mettingPage' %}"><img src="{% static 'PNP/img/notification.png' %}"><span>Metting</span></a></li>
                <li><a href="{% url 'PNP:classroom' %}"><img src="{% static 'PNP/img/classroom.png' %}"><span>classroom</span></a></li>
            </ul>
        {% else %}
        <h1>Guest Page</h1>
        {% endif %}
        </div>
        <div class="navbar-right">
        {% if auth_user.is_authenticated %}
            <div class="online">
                    {% if user.user.photo_profile %}
                    <img style="object-fit: cover;height: 50px;width: 50px;" src="{{ user.user.photo_profile.url }}" alt="" class="nav-profile-img" onclick="toggleMenu()">
                    {% else %}
                    <img src="{% static 'PNP/img/avatar/default.jpg' %}" alt="" class="nav-profile-img" onclick="toggleMenu()">
                    {% endif %}
            </div>
        {% else %}
            <a href="{% url 'PNP:login' %}" class="login">Login</a>
            <a href="{% url 'PNP:signUp' %}" class="register">Register</a>
        {% endif %}
        </div>
        <div class="profile-menu-wrap" id="profileMenu">
            <div class="profile-menu">
            {% if auth_user.is_authenticated%}
                <div class="user-info">
                    {% if user.user.photo_profile %}
                    <img style="object-fit: cover;height: 100px;width: 95px;" src="{{ user.user.photo_profile.url }}" alt="">
                    {% else %}
                    <img src="{% static 'PNP/img/avatar/default.jpg' %}" alt="">
                    {% endif %}
                    <div>
                        <h3>{{auth_user.username}}</h3>
                        
                    </div>
                </div>
            
                <hr>
                <a href="{% url 'PNP:profile' auth_user.username %}" class="profile-menu-link">
                    <img src="{% static 'PNP/img/feedback.png' %}">
                    <p>See Your Profile</p>
                    <span>></span>
                </a>
                <a href="" class="profile-menu-link">
                    <img src="{% static 'PNP/img/setting.png' %}">
                    <p>Settings and Privacy</p>
                    <span>></span>
                </a>

                <a href="" class="profile-menu-link">
                    <img src="{% static 'PNP/img/display.png' %}">
                    <p>Display & Accesebility</p>
                    <span>></span>
                </a>
                <form style="display: flex;align-items: center;justify-content: space-between;"  action="{% url 'PNP:logout' %}" method="post" >
                 {% csrf_token %}
                    <img style="width: 35px;" src="{% static 'PNP/img/logout.png' %}">
                <button type="submit"  class="profile-menu-link" >Logout</button>
                </form>


            {% endif %}
            </div>
        </div>
    </nav>
    {% block content %}
    
    {% endblock content %}
    
    <script src="{% static 'PNP/js/jquery-3.7.1.min.js' %}"></script>
    <script src="{% static 'PNP/js/firstPage.js' %}"></script>
    <script>
    var search = document.getElementById('search');
    var searchBox = document.querySelector('.search-box div');

    search.addEventListener('keyup',()=>{
        if(search.value == '')
            searchBox.style.display = 'none';
        else
            searchBox.style.display = 'block';
        searchBox.innerHTML = '';
        $.ajax({
        url: '/search/' + search.value + '/',
        type: 'GET',
        success: function (response) {
            searchBox.innerHTML = response;
        }
    });
    })
    function fetchProfiles(){
        fetch('/fetchFriends')
        .then(res=>res.json())
        .then(data=>{
            console.log(data);
        })
    }
    </script>
</body>
</html>