	
	<div class="new_comment">

			<!-- build comment -->
			{% for comment in comments %}
		 	<ul class="user_comment" style="margin-bottom: 30px;margin-top: 20px;">

		 		<!-- current #{user} avatar -->
			 	<div class="user_avatar">
				{% if comment.user_id.photo_profile %}
                    <img style="width: 40px; height: 40px;object-fit: cover;"  src="{{comment.user_id.photo_profile.url}}">
				{% else %}
				<img src="/media/avatar/default.jpg">
				{% endif %}
			 		
			 	</div><!-- the comment body --><div class="comment_body">
			 		<p>{{comment.comment}}</p>
			 	</div>

			 	<!-- comments toolbar -->
			 	<div class="comment_toolbar">

			 		<!-- inc. date and time -->
			 		<div class="comment_details">
			 			<ul>
			 				<li><i class="fa fa-clock-o"></i> {{comment.created_at|date:"H:i"}}</li>
							<li><i class="fa fa-calendar"></i> {{comment.created_at|date:"d/m/y"}}</li>
			 				<li><i class="fa fa-pencil"></i><a href="{% url 'PNP:profile' comment.user_id.user.username %}"> <span class="user">{{comment.user_id.user.username}}</span></a></li>
			 			</ul>
			 		</div><!-- inc. share/reply and love --><div class="comment_tools">
			 			<ul>
			 				<li><i class="fa fa-reply" onclick="fetchFormComment({{comment.id}},2)"> {{comment.number_of_replies}}</i></li>
			 				<li ><i class="fa fa-heart love"><span class="love_amt"> {{comment.number_of_likes}}</span></i></li>
			 			</ul>
			 		</div>

			 	</div>

			 	<!-- start user replies -->
				<div>
				{% for reply in comment.replies.all %}
				<li>
					<!-- current #{user} avatar -->
					<div class="user_avatar">
						{% if reply.user_id.photo_profile %}
                    		<img style="width: 40px; height: 40px;object-fit: cover;" src="{{reply.user_id.photo_profile.url}}">
						{% else %}
							<img src="/media/avatar/default.jpg">
						{% endif %}
					</div><!-- the comment body --><div class="comment_body">
						<p><div class="replied_to"><p><a href="{% url 'PNP:profile' reply.user_id.user.username %}"><span class="user">{{reply.user_id.user.username}}:</span></a>{{comment.comment}}</p></div>{{reply.comment}}</p>
					</div>

					<!-- comments toolbar -->
					<div class="comment_toolbar">

						<!-- inc. date and time -->
						<div class="comment_details">
							<ul>
								<li><i class="fa fa-clock-o"></i> {{reply.created_at|date:"H:i"}}</li>
								<li><i class="fa fa-calendar"></i> {{reply.created_at|date:"d/m/y"}}</li>
								<li><i class="fa fa-pencil"></i> <span class="user"><a href="{% url 'PNP:profile' reply.user_id.user.username %}"> <span class="user">{{reply.user_id.user.username}}</span></a></span></li>
							</ul>
						</div><!-- inc. share/reply and love --><div class="comment_tools">
							<ul>
								<li><i class="fa fa-reply" onclick="fetchFormComment({{reply.id}},2)"></i> {{reply.number_of_replies}}</li>
								<li><i class="fa fa-heart love"><span class="love_amt"> {{reply.number_of_likes}}</span></i></li>
							</ul>
						</div>

					</div>


				</li>
				{% endfor %}
		 	</ul>
			<hr style="height:1px;border-width:0;color:#333;background-color:#333;width:50%;margin-left:auto;margin-right:auto;opacity:0.3">
			{% endfor %}

		 </div>
