	<div class="new_comment">

			<!-- build comment -->
			{% for comment in comments %}
		 	<ul class="user_comment">

		 		<!-- current #{user} avatar -->
			 	<div class="user_avatar">
			 		<img src="https://s3.amazonaws.com/uifaces/faces/twitter/kfriedson/73.jpg">
			 	</div><!-- the comment body --><div class="comment_body">
			 		<p>{{comment.comment}}</p>
			 	</div>

			 	<!-- comments toolbar -->
			 	<div class="comment_toolbar">

			 		<!-- inc. date and time -->
			 		<div class="comment_details">
			 			<ul>
			 				<li><i class="fa fa-clock-o"></i> 13:94</li>
			 				<li><i class="fa fa-calendar"></i> 04/01/2015</li>
			 				<li><i class="fa fa-pencil"></i> <span class="user">Sarah Walkman</span></li>
			 			</ul>
			 		</div><!-- inc. share/reply and love --><div class="comment_tools">
			 			<ul>
			 				<li><i class="fa fa-share-alt"></i></li>
			 				<li><i class="fa fa-reply"></i></li>
			 				<li><i class="fa fa-heart love"></i></li>
			 			</ul>
			 		</div>

			 	</div>

			 	<!-- start user replies -->
				{% comment %} <li>
					
					<!-- current #{user} avatar -->
					<div class="user_avatar">
						<img src="https://s3.amazonaws.com/uifaces/faces/twitter/cbillins/73.jpg">
					</div><!-- the comment body --><div class="comment_body">
						<p><div class="replied_to"><p><span class="user">Sarah Walkman:</span>Pork belly migas flexitarian messenger bag Brooklyn gluten-free. Tilde kitsch skateboard Helvetica, lumbersexual four loko direct trade pour-over. Cronut deep v keffiyeh cornhole food truck</p></div>I'm tired, does anybody know a good place to buy extra strength coffee?</p>
					</div>

					<!-- comments toolbar -->
					<div class="comment_toolbar">

						<!-- inc. date and time -->
						<div class="comment_details">
							<ul>
								<li><i class="fa fa-clock-o"></i> 19:23</li>
								<li><i class="fa fa-calendar"></i> 14/01/2015</li>
								<li><i class="fa fa-pencil"></i> <span class="user">Blake Anderson</span></li>
							</ul>
						</div><!-- inc. share/reply and love --><div class="comment_tools">
							<ul>
								<li><i class="fa fa-share-alt"></i></li>
								<li><i class="fa fa-reply"></i></li>
								<li><i class="fa fa-heart love"><span class="love_amt"> 12</span></i></li>
							</ul>
						</div>

					</div>


				</li> {% endcomment %}

		 	</ul>
			{% endfor %}

		 </div>

		</div>