
	{% load static %}
	<link rel="stylesheet" href="{% static 'PNP/css/comment.css' %}">
    <link rel="stylesheet" href="{% static 'PNP/css/comment2.css' %}">
    <div class="overlay" onclick="closeComment()" id="overlay"></div>
    <div id="commentSection" style="right: -600px;">
        <div class="comment_block">

		
    <div id="comments">
	<div id="headercomment"></div>
	<div id="footercomment"></div>
	</div>


    <script src="{% static 'PNP/js/comment.js' %}"></script>

    <script src="{% static 'PNP/js/jquery-3.7.1.min.js' %}"></script>

