{% extends "base.html" %}
{% load static %}

{% block content %}
<head><link rel="stylesheet" href="{% static 'PNP/css/comment.css' %}">
<style>
.square{
    width: 50px;
    height: 50px;
    background-color: #00838D;
}

    .sidebar-news {
        padding-bottom: 30px;
        background-color: #f0f0f0;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    .sidebar-news h3 {
        color: #333;
        text-align: center;
        padding: 10px 0;
    }
    .sidebar-news a {
        display: block;
        color: #333;
        text-decoration: none;
        padding: 10px;
        border-bottom: 1px solid #ccc;
    }
    .sidebar-news a:last-child {
        border-bottom: none;
    }
    .sidebar-news a:hover {
        background-color: #e0e0e0;
    }
    .sidebar-news .info-icon {
        display: block;
        margin: 0 auto;
    }
    .sidebar-news span {
        display: flex;
        justify-content: space-around;
        font-size: 10px;
        font-weight: 100;
    }
</style>
</head>
<div class="container">
    <!-- --popup -->
    
    <div class="popup-container" id="popup">
        <div class="header">
            <img src="{% static 'PNP/img/logo.png' %}">
            <h1>Welcome to Carrer</h1>
        </div>
        <div id="form_post"></div>
        <div class="buttons-container"> 
            {% if form_is_valid %}
                <button onclick="popup()">Discard</button>
                <button type='submit' onclick="add()">Post</button>
                <h1>Form is valid</h1>
            {% else %}
                <button onclick="popup()">Discard</button>
                <button type='submit' style="background-color: #efefef;color: black;cursor: not-allowed;" onclick="add()" disabled>Post</button>
                <h1>Form is not valid</h1>
            {% endif %}

        </div>
    </div>
    <!-- --popup ended-->
    <div class="container">
        <div class="left-sidebar">
            <div class="sidebar-profile-box">
                <img src="{% static 'PNP/img/avatar/defaultBgc.jpg' %}"
                    width="100%" class="cover-img">
                {% if auth_user.is_authenticated %}
                <div class="sidebar-profile-info">
                    {% if user and user.user.photo_profile %}
                        <img style="object-fit: cover;height: 100px;width: 95px;" src="{{ user.user.photo_profile.url }}">
                    {% else %}
                        <img src="{% static 'PNP/img/avatar/default.jpg' %}">
                    {% endif %}
                    <h1>{{user.user.username}}</h1>
                    <h3>{{user.introduction}}</h3>
                    <ul>
                        <li>Your Profile Views<span>{{number_of_visits}}</span></li>
                        <li>Your Post<span>{{number_of_posts}}</span></li>
                        <li>Your Connections<span>{{number_of_friends}}</span></li>
                    </ul>
                </div>
                {% else %}
                <div class="sidebar-profile-info">
                    <img src="{% static 'PNP/img/avatar/default.jpg' %}">
                    <h1>Guest</h1>
                    <p style="text-align: center;margin: 10px;">Join the community to connect with other people you may know.</p>
                </div>
                {% endif %}

            </div>
            {% if auth_user.is_authenticated %}
            <div class="sidebar-activity" id="sidebarActivity">
                <h3>RECENT</h3>
                <a href=""><img src="{% static 'PNP/img/recent.png' %}">Web Development</a>
                <a href=""><img src="{% static 'PNP/img/recent.png' %}">User Interface</a>
                <a href=""><img src="{% static 'PNP/img/recent.png' %}">Online Learning</a>
                <a href=""><img src="{% static 'PNP/img/recent.png' %}">Learn Online</a>
                <a href=""><img src="{% static 'PNP/img/recent.png' %}">Code Better</a>
                <a href=""><img src="{% static 'PNP/img/recent.png' %}">Group Learning</a>
                <h3>GROUPS</h3>
                <a href=""><img src="{% static 'PNP/img/group.png' %}">Saylani Mass It Tranining</a>
                <a href=""><img src="{% static 'PNP/img/group.png' %}">The Perfect Dev</a>
                <a href=""><img src="{% static 'PNP/img/group.png' %}">Techno Kids</a>
                <a href=""><img src="{% static 'PNP/img/group.png' %}">Web and App Development</a>
                <h3>HASHTAGS</h3>
                <a href=""><img src="{% static 'PNP/img/hashtag.png' %}">webdevelopment</a>
                <a href=""><img src="{% static 'PNP/img/hashtag.png' %}">letsconnect!</a>
                <a href=""><img src="{% static 'PNP/img/hashtag.png' %}">pakistanzindabad</a>
                <div class="discover-more-link">
                    <a href="">Discover More</a>
                </div>
            </div>
            <p id="showMoreLink" onclick="showSideBar()">Show More <b>+</b></p>
            {% endif %}
        </div>
        <div class="main-content" id="main">
        {% if auth_user.is_authenticated %}
            <div class="create-post">
                <div class="create-post-input">
                    <img
                        src="media/avat">
                    <textarea name='content' placeholder="What\'s on your mind?"></textarea>
                </div>
                <div class="create-post-links">
                    <li><img src="{% static 'PNP/img/photo.png' %}">Photo</li>
                    <li><img src="{% static 'PNP/img/video.png' %}">Video</li>
                    <li><img src="{% static 'PNP/img/event.png' %}">Event</li>
                    <li onclick="popup()">Post</li>
                </div>
            </div>
        {% endif %}
            {% comment %} <div class="sort-by">
                <hr>
                <p>Sort By: <span>Top <img src="{% static 'PNP/img/down-arrow.png' %}" alt=""></span></p>
            </div> {% endcomment %}
            <!-- allposts -->
            {% for post in posts%}

            <div class="post" data-id="{{post.post.id}}">
                <div class="post-author">
                    {% if post.post.user.photo_profile %}
                    <img
                        src="{{post.post.user.photo_profile.url}}">
                    {% else %}
                    <img src="/media/avatar/default.jpg">
                    {% endif %}
                    <div>
                        <h1>{{post.post.user.user.username}}
                            Developer &middot; <span style="font-weight: lighter;">1st</span></h1>
                        <small>Web Developer | Free-Lancer</small>
                        <small>{{post.time_since}}</small>
                    </div>
                </div>
                <p>{{post.post.content}}</p>
                <img src="{{post.post.image.url}}" alt="profileImg"
                    width="100%">
                <div class="post-stats">
                    <div>
                        <img src="{% static 'PNP/img/thumbsup.png' %}">
                        <span class="liked-users" id="{{post.post.id}}">{{ post.post.num_likes }}  reactions</span>
                    </div>
                    <div>
                        <span>{{ post.numberComments }} comments &middot; {{ post.post.num_shares }} shares</span>
                    </div>
                </div>
                {% if auth_user.is_authenticated %}
                <div class="post-activity">

                    <div class="post-activity-link" id="like" onclick="toggleLike(this)" style="cursor: pointer;">
                        {% if post.post.liked == False %}
                        <img id="likeImg" src="{% static 'PNP/img/like.png' %}" class="post-activity-user-icon">
                        {% else %}
                        <img id="likeImg" src="{% static 'PNP/img/love.png' %}" class="post-activity-user-icon">
                        {% endif %}
                        <span>Like</span>
                    </div>
                    <div class="post-activity-link commentpost" onclick="openComment(this)">
                        <img src="{% static 'PNP/img/comment.png' %}" class="post-activity-user-icon">
                        <span>Comment</span>
                    </div>

                    <div class="post-activity-link">
                        <img src="{% static 'PNP/img/send.png' %}" class="post-activity-user-icon">
                        <span>Send</span>
                    </div>
                </div>
                {% else %}
                    <div class="post-activity">

                    <div class="post-activity-link" id="like" style="cursor: pointer;">
                        <img id="likeImg" src="{% static 'PNP/img/like.png' %}" class="post-activity-user-icon">
                        <span>Like</span>
                    </div>
                    <div class="post-activity-link commentpost" onclick="openComment(this)">
                        <img src="{% static 'PNP/img/comment.png' %}" class="post-activity-user-icon">
                        <span>Comment</span>
                    </div>

                </div>
                {% endif %}
            </div>

            {% endfor %}
        </div>
        
        <div class="right-sidebar">
        {% if auth_user.is_authenticated %}
            <div class="sidebar-news" style="padding-bottom: 30px;background-color: #FFFF">
                {% comment %} create a toolpit for this image {% endcomment %}
                <img src="{% static 'PNP/img/more.png' %}" class="info-icon" title="Your Network... you can delete a friend or send a message">
                <h3>My Network</h3>
                {% for friend in friends %}
                <a href="{% url 'PNP:profile' friend.user.username %}">{{friend.user.username}}</a>
                <span style="display:flex;justify-content: space-around"><a style="font-size: 10px;font-weight: 100;" href="{% url 'PNP:addFriend' friend.user.username%}">delete</a> <a style="font-size: 10px;font-weight: 100;">send message</a></span>
                {% endfor %}
        
            </div>
             <div class="sidebar-people">
                <h3>People You May Know</h3>
                {% for sugg in segguestedFriends %}
                <div class="sidebar-people-row">
                    {% if sugg.user.user.photo_profile %}
                        <img src="{{sugg.user.user.photo_profile.url}}">
                    {% else %}
                        <img src="/media/avatar/default.jpg">
                    {% endif %}
                    <div>
                        <h2>{{sugg.user.username}}</h2>
                        <p>{{sugg.user.user.introduction}}</p>
                        
                            <a href="{% url 'PNP:addFriend' sugg.user.username %}">
                            {% if sugg.user.user.Visibility == 'private' %}
                                send request
                            {% else %}
                                Connect
                            {% endif %}
                            </a>
                    </div>
                </div>
                {% endfor %}

            </div>
            {% endif %}
            <div class="sidebar-useful-links">
                <a href="">About</a>
                <a href="">Accesibility</a>
                <a href="">Help Center</a>
                <a href="">Privacy Policy</a>
                <a href="">Advertising</a>
                <a href="">Get the App</a>
                <a href="">More</a>
                <div class="copyright-msg">
                    <img src="{% static 'PNP/img/logo.png' %}">
                    <p>AzaanUllah &copy; All Rights Reserved</p>
                </div>
            </div>
        </div>
    </div>
    {% include "./comments.html" %}
    {% comment %} upload gsap framwork {% endcomment %}
    <script src="{% static 'PNP/js/gsap.min.js' %}"></script>



    

    
    <script>

    //post and popup

    var popupcont = document.getElementById('popup')
    function popup() {
        popupcont.classList.toggle('open-popup')
    }



    //comments
    var section=document.getElementById('commentSection')
var overlay=document.getElementById('overlay')
function openComment(commentButton) {
    var postId = commentButton.closest('.post').dataset.id;
    fetchComments(postId);
    fetchFormComment(postId,1);
        section.classList.toggle('open-comment');
        overlay.classList.toggle('overlay-open');
}

function closeComment() {
    section.classList.remove('open-comment');
    overlay.classList.remove('overlay-open');
}


function fetchComments(postId) {
    console.log(postId);
    $.ajax({
        url: '/comment/' + postId + '/',
        type: 'GET',
        success: function (response) {
            var commentsContainer = document.getElementById('headercomment');
            commentsContainer.innerHTML = response;
        }
    });
}

            
function addComment(itemId, type,postId) {
    var commentContent=document.getElementById('commentContent').value;
        $.ajax({
            url: '/addComment/' + itemId + '/'+ type + '/',
            type: 'POST',
            headers: { 'X-CSRFToken': '{{ csrf_token }}' },
            data: {
                'commentContent': commentContent,
            },
            success: function (response) {
                fetchComments(postId);
                fetchFormComment(postId,1);
            }
        });
    }
    function removeReply(){
        var replyContainer=document.getElementById('ReplyContainer');
        replyContainer.innerHTML='';
        fetchFormComment(postId,1);
    }
function fetchFormComment(itemId,type) { //type = 1 is a post and type = 2 is a comment
    $.ajax({
        url: '/showCommentForm/' + itemId + '/'+type+'/',
        type: 'GET',
        success: function (response) {
            var commentsContainer = document.getElementById('footercomment');
            commentsContainer.innerHTML = response;
        }
    });
}



    // likes

    // Define static paths
    var loveImgSrc = window.location.origin + "/static/PNP/img/love.png";
    var likeImgSrc = window.location.origin + "/static/PNP/img/like.png";
    function toggleLike(likeButton) {
    var postId = likeButton.closest('.post').dataset.id;
    var likeImg = likeButton.querySelector('img');
    var likeImgSrc = likeImg.src;
    var loveImgSrc = "{% static 'PNP/img/love.png' %}";

    if (likeImgSrc.includes('like.png')) {
        likeImg.src = loveImgSrc;
    } else {
        likeImg.src = "{% static 'PNP/img/like.png' %}";
    }

    // Make it Bouncing
    gsap.from(likeImg, {
        scale: 0.5,
        duration: 0.5,
        ease: "bounce",
    });
    
    // Send AJAX request to update the like count
    $.ajax({
        url: '/like/' + postId + '/',
        type: 'POST',
        dataType: 'json',
        headers: { 'X-CSRFToken': '{{ csrf_token }}' },
        success: function (response) {
            if (response.success) {
                document.querySelector('span[id=\"'+postId+'\"]').innerText = response.likes + ' reactions';
            }
        }
    });
}

 
   
        // gsap
        var posts = document.querySelectorAll('.post');
        var right_sidebar = document.querySelector('.right-sidebar');
        var left_sidebar = document.querySelector('.left-sidebar');
        var create_post = document.querySelector('.create-post');

        gsap.from(create_post, {
            opacity: 0,
            y: -100,
            duration: 1,
            ease: "power2.Out",
            delay: 0.5,
        })

        gsap.from(left_sidebar, {
            opacity: 0,
            x: -100,
            duration: 1,
            ease: "power2.Out",
            delay: 0.5,
        })

        gsap.from(right_sidebar, {
            opacity: 0,
            x: 100,
            duration: 1,
            ease: "power2.Out",
            delay: 0.5,
        })

        gsap.from(posts, {
            opacity: 0,
            y: 100,
            duration: 1,
            ease: "power2.Out",
            delay: 0.5,
        })
    </script>

</div>
{% endblock content %}