{% load static %}
{% for post in posts%}

            <div class="post" data-id="{{post.post.id}}">
                <div class="post-author">
                    {% if post.post.user.photo_profile %}
                    <img 
                        src="{{post.post.user.photo_profile.url}}">
                    {% else %}
                    <img src="/media/avatar/default.jpg">
                    {% endif %}
                    <div>
                        <h1>{{post.post.user.user.username}}
                            Developer &middot; <span style="font-weight: lighter;">1st</span></h1>
                        {% if post.post.user.introduction %}
                            <small>{{post.post.user.introduction}}</small>
                        {% endif %}
                        <small>{{post.time_since}}</small>
                    </div>
                </div>
                <p>{{post.post.content}}</p>
                {% if post.post.media %}
                    {% for media in post.post.media.all %}
                        {% if media.type == 1 %}
                            <a href="{{media.media.url}}" target=_"blank">
                            <img style="width:100%" src="{{media.media.url}}" class="post-media"></a>
                        {% elif media.type == 2 %}
                            <video style="width:100%;" controls>
                                <source  src="{{media.media.url}}" type="video/mp4">
                            </video>
                        {% elif media.type == 3 %}
                            <div class="bubble" style="width: 400px;height:auto;position:relative;display:flex">
                    <audio controls style="width: 100%; border-radius: 5px; background-color: #fff;border-radius: 40px">
                        <source style="width:100%;" src="{{media.media.url}}" type="audio/mpeg">
                    </audio>
                    <a download style="color:#fff;text-decoration:underline" target="_blank" href="{{media.media.url}}" class="post-media">
                        <button class="Btn">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                height="1em"
                                viewBox="0 0 384 512"
                                class="svgIcon"
                            >
                                <path
                                d="M169.4 470.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L224 370.8 224 64c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 306.7L54.6 265.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z"
                                ></path>
                            </svg>
                            <span class="icon2"></span>
                        </button>
                    </a>
                </div>
                        {% elif media.type == 4 %}
                            <iframe scrolling="no" style="width:100%;height: 400px" src="{{media.media.url}}" class="post-media"></iframe>
                        {% elif media.type == 5 %}
                            <div style="display:flex;align-items:center;margin-left:30px">
                            <span>download: {{media.media.name}}</span>
                            <a style="color:#fff;text-decoration:underline" target="_blank" href="{{media.media.url}}" class="post-media">
                                <button class="Btn">
                                    <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        height="1em"
                                        viewBox="0 0 384 512"
                                        class="svgIcon"
                                    >
                                        <path
                                        d="M169.4 470.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L224 370.8 224 64c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 306.7L54.6 265.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z"
                                        ></path>
                                    </svg>
                                    <span class="icon2"></span>
                                </button>
                            </a>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
               
                <div class="post-stats">
                    <div>
                        <img src="{% static 'PNP/img/thumbsup.png' %}">
                        <span class="liked-users" id="{{post.post.id}}">{{ post.post.num_likes }}  reactions</span>
                    </div>
                    <div>
                        <span>{{ post.numberComments }} comments &middot; {{ post.post.num_shares }} shares</span>
                    </div>
                </div>
                {% if auth_user.is_authenticated %}
                <div class="post-activity">

                    <div class="post-activity-link liketoogle" id="like" onclick="toggleLike(this)" style="cursor: pointer;">
                        {% if post.post.liked == False %}
                        <img id="likeImg" src="{% static 'PNP/img/like.png' %}" class="post-activity-user-icon">
                        {% else %}
                        <img id="likeImg" src="{% static 'PNP/img/love.png' %}" class="post-activity-user-icon">
                        {% endif %}
                        <span>Like</span>
                    </div>
                    <div class="post-activity-link commentpost commenttoogle" onclick="openComment(this)">
                        <img src="{% static 'PNP/img/comment.png' %}" class="post-activity-user-icon">
                        <span>Comment</span>
                    </div>

                    <div class="post-activity-link">
                        <img src="{% static 'PNP/img/send.png' %}" class="post-activity-user-icon">
                        <span>Send</span>
                    </div>
                </div>
                {% else %}
                    <div class="post-activity">
                    <div class="post-activity-link commentpost" onclick="openComment(this)">
                        <img src="{% static 'PNP/img/comment.png' %}" class="post-activity-user-icon">
                        <span>Comment</span>
                    </div>

                </div>
                {% endif %}
            </div>

            {% endfor %}