<style>
    .user-list {
        font-family: Arial, sans-serif;
        padding: 0;
        margin: 0;
    }
    .user-list li {
        list-style-type: none;
        background-color: #f0f0f0;
        border: 1px solid #ccc;
        margin-bottom: 10px;
        padding: 10px;
        transition: background-color 0.3s ease;
    }
    .user-list li:hover {
        background-color: #e0e0e0;
    }
    .user-list a {
        text-decoration: none;
        color: #333;
    }
    .no-users {
        font-family: Arial, sans-serif;
        color: #999;
    }
    .filter-buttons {
        margin-bottom: 10px;
    }
    .filter-buttons button {
        background-color: #00838D; /* Green */
        border: none;
        color: white;
        padding: 10px 5px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin-right: 2px;
        cursor: pointer;
    }
    .filter-buttons button:hover {
        background-color: #017078;
    }
</style>



{% if users %}
    <ul class="user-list">
        {% for user in users %}
            <li>
                <a href="{% url 'PNP:profile' user.user.username %}">
                    {{ user.user.username }}
                    {% if user.role == 3 %} 
                    · {{user.introduction}} Company
                    {% endif %}
                    {% if user.role == 1 %} · Student {% endif %}
                    {% if user.role == 2 %} · Teacher {% endif %}
                </a>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p class="no-users">No users found</p>
{% endif %}


